= provide(:title, 'Austellung')
.container
  #exhibition-page
  %h1.context-title.image-box IDEE PROZESS FREI ZEICHEN

  %h1.big-title in.print.out - Grafik in/auswendig
  %h3.date 19.04. - 09.06. 2013
  %h3.location Künstlerhaus Wien
 
  %p.main-intro-text Im Zentrum des Titels wie auch des Projekts steht <strong>„print“</strong>, also Gedrucktes, konkret das in und mit druckgrafischen Mitteln gedachte und umgesetzte künstlerische Konzept. Dazu zwei Richtungsangaben: <strong>Grafik in- und auswendig</strong>, die Schreibweise in- und auswändig wäre in unserem Zusammenhang inhaltlich durchaus auch gerechtfertigt. Denn die Ausstellung widmet sich zwei Bereichen der aktuellen Grafik, die sich teilweise überschneiden bzw. durchdringen und doch unterschiedliche gestalterische Interessen und Zielsetzungen verfolgen: Zum einen zeigt <strong>in.print.out</strong> aktuelle <strong>internationale Grafikkunst von 102 KünstlerInnen</strong>, die üblicherweise – aber nicht ausschließlich – auf Ausstellungswänden und in Ausstellungsräumen platziert wird, zum anderen Grafik, die für <strong>Plakatwände im öffentlichen Raum</strong> konzipiert ist und dort zu wirken, zu funktionieren hat. Den ersteren Bereich würde man traditionell der künstlerischen Druckgrafik zuordnen, den zweiteren in der Kategorie angewandte Grafik, vormals <strong>„Gebrauchsgrafik“</strong> oder schlicht <strong>„Werbung“</strong> ansiedeln.  
  <br>
  %p.main-intro-text Die Ausstellung versucht einen Grenzgang zwischen diesen üblichen Zuordnungen. Sie zeigt aktuelle Grafik als eine multidisziplinäre und prozessorientierte Sprache, in der Dialoge geführt werden zwischen traditionellen Disziplinen und innovativen Technologien, zwischen analogen und digitalen Medien, zwischen künstlerischen Strategien und Kommunikationsdesign. Denn letztlich geht es im Wesentlichen um <strong>gedruckte Ideen, Botschaften, Informationen</strong>.

  <br>
  
  .exhibition-pic
    = image_tag("pic01.jpg", :alt => "Picture of a caktus hear from Yossi Lernel called In Mexico City from 2008")
    %p.credits © Moravian Gallery in Brno

  %p.artist Yossi Lernel - In Mexico City - 2008
  
  %p.text-01 <strong>outside in</strong> <br><br>Gezeigt wird im <strong>Obergeschoß des Künstlerhauses</strong> historische und aktuelle Plakatkunst in Zusammenarbeit mit Muzeum Plakatu w Wilanowie (Plakatmuseum Wilanów, Teil des Nationalmuseums in Warschau), der Züricher Kunsthochschule/Druckatelier Rote Fabrik, Moravská galerie v Brně, Bienále Brno (Mährische Nationalgalerie, Grafikbiennale Brünn), der Wienbibliothek und der Höheren Graphischen Lehranstalt Wien. Die Präsentation erhebt natürlich keinerlei Anspruch, einen schlüssigen Gesamtüberblick zur Plakatgeschichte oder auch nur zu Teilbereichen dieses komplexen Feldes zu geben. Jede der leihgebenden Sammlungen zeigt einige ihrer „Highlights“, also Plakate, die auf besondere Weise gestalterisch innovative Impulse setzen bzw. beispielhaft als <strong>kulturhistorische Dokumente</strong> gesehen werden können. Aufgrund der Fülle der Sammlungsbestände sind individuelle Schwerpunktsetzungen durch die KuratorInnen erfolgt. So finden sich Plakate aus dem Kulturbereich, also <strong>Theater-, Film- und Ausstellungsplakate</strong>, genauso wie <strong>politische Plakate, Wirtschaftswerbung</strong> und einige schwer zuordenbare <strong>Skurrilitäten</strong>. Auch die Arbeiten des Plakatprojekts <strong>GELD MACHT SICHTBAR</strong>, das parallel zur Ausstellung im öffentlichen Raum auf Plakatwänden der epamedia stattfindet, werden im Obergeschoß gezeigt, bilden quasi einen „Link“ zwischen innen und außen.

  %p.text-02.padding-big <strong>inside out</strong> <br><br>Im <strong>Erdgeschoß des Künstlerhauses</strong> zeigen wir Arbeiten, die großteils im Zuge des <strong>Wettbewerbs der Internationalen Grafiktriennale Kraków (SMTG)</strong> unter ca. <strong>1500</strong> einreichenden KünstlerInnen ausgewählt wurden. Mit SMTG Kraków und dem Horst-Janssen-Museum in Oldenburg arbeitet das Künstlerhaus seit 2006 zusammen, ab 2010 als von der <strong>EU gefördertes Projekt „International Print Network“</strong>. Ergänzend zur Wettbewerbsauswahl haben wir einige KünstlerInnen mit speziellen Werken zur Teilnahme eingeladen, wie z. B. den australischen Künstler <strong>Brook Andrew</strong>, dessen Werk sowohl die Dimensionen des Wettbewerbs als auch die traditionellen Grenzen der Grafikkunst sprengt. Sein <strong>Jumping Castle War Memorial</strong> stellt ein Rätsel in den Raum, das exemplarisch mit innen und außen, mit der Differenz zwischen äußerer Form und der darin enthaltenen Botschaft arbeitet: Die Form der aufblasbaren Hüpfburg steht für Spaß und Kinderspiel, der Titel Kriegerdenkmal hingegen suggeriert <strong>Feierlichkeit und Reflexion</strong>. Die Grafik – das zeigt diese Arbeit beispielhaft – ist gerade in den letzten zwei Jahrzehnten ein Rendezvous verschiedener Strömungen der <strong>zeitgenössischen Kunst und der Alltagskultur</strong>, bei dem sich Medien wie <strong>Druckgrafik, Zeichnung, Fotografie, Grafikdesign, raumbezogenes Arbeiten, Film und digitale Medien treffen</strong>.
  <br>
  %p.text-02.padding-big <strong>in between</strong> <br><br> In einigen Räumen der Ausstellung versuchen wir im Speziellen den <strong>Laborcharakter grafischer Prozesse</strong> sichtbar und für die AusstellungsbesucherInnen nachvollziehbar zu machen. So ist ein Raum, bezeichnet als <strong>„Projektraum Oktogon“</strong>, für temporäre Arbeiten, Installationen und raumbezogene grafische Experimente gewidmet. Für einen Zeitraum von jeweils etwa zehn Tagen bespielen Michael Wegerer /Juun, Natalia Weiss, Beate Dlugosz, Paul Ferragut und Chris Mercier das Oktogon und kombinieren grafische Konzepte mit Klang, Skulptur, Zeit und Licht, setzen dabei mittels Linoleumboden, Zeichenmaschinen, lichtempfindlichen Beschichtungen, rotierenden Druckstöcken und einem zerschnittenen Konzertflügel unterschiedlichste Versuchsanordnungen in Gang. Ein weiterer Raum wird temporär zum Produktions-, Präsentations- und Verkaufsraum gleichermaßen. <strong>„make.aZINE“</strong> ist ein Projekt der jungen KünstlerInnengruppe <strong>„Graphikkinder“</strong> mit dem Anliegen, die Gattung zine einem breiten Publikum abseits von politischen, popkulturellen und künstlerischen Subkulturen bekannt und nutzbar zu machen. <strong>„zine“</strong> bezeichnet eine nicht-kommerzielle, oft selbstgemachte oder Online-Publikation von unabhängigen ProduzentInnen. Die Ursprünge des zine liegen in der Science-Fiction-Szene, jedoch erfreute es sich auch in der britischen und US-amerikanischen Punkszene, sowie in der </strong>feministischen Bewegung</strong> der 1971er-Jahre großer Beliebtheit. Fernab normierter massenmedialer Kommunikation diente und dient es Minderheiten, Randgruppen und Subkulturen als Sprachrohr. 

  %p.main-intro-text Darüber hinaus finden in der passagegalerie Workshops für Schulklassen und StudentInnen statt, weitere Ausstellungen im Kinofoyer, im Rahmen des <strong>„Monats der Grafik“</strong> in Galerien, Universitäten und anderen Kulturinstitutionen in Österreich. <br><br>In dieser Vielfalt an Präsentationen und Möglichkeiten der Auseinandersetzung in und rund um die Ausstellung <strong>in.print.out – Grafik in/auswendig</strong> will dieses Projekt in Wien ein gemeinsames Forum für KünstlerInnen und interessiertes Publikum bieten und einen Informations- und Diskussionsbeitrag zur aktuellen Situation der Grafik leisten. <br><br><strong> Georg Lebzelter</strong>
  %h2.artists-headline Teilnehmende KünstlerInnen
  <br>
  .list
    %p.art 
      <strong>Australien:</strong> Brook Andrew<br>
      <strong>Bangladesh:</strong> Nazir Ahmed<br>
      <strong>Brasilien:</strong> Augusto Sampaio<br>
      <strong>Bulgarien:</strong> Darina Peeva<br>
      <strong>Bulgarien:</strong> Vania Valkova<br>
      <strong>Bulgarien:</strong> Lubomir Krastev<br>
      <strong>Kanada:</strong> Edith Krause<br>
      <strong>Kanada:</strong> Derek Besant<br>
      <strong>Kanada:</strong> Ericka Walker<br>
      <strong>Kanada:</strong> Jill Ho-Jou<br>
      <strong>Kanada:</strong> Cecile Boucher<br>
      <strong>Kanada:</strong> Barbara Zeigler<br>
      <strong>China:</strong> Zhang HuiJing<br>
      <strong>Deutschland:</strong> Kirsten Borchert<br>
      <strong>Deutschland:</strong> Birgit Fiedler<br>
      <strong>Deutschland:</strong> Jochen Koehn<br>
      <strong>Deutschland:</strong> Hansjürgen Gartner<br>
      <strong>Deutschland:</strong> Richard Paul Meszaros<br>
      <strong>Deutschland:</strong> Eugenia Gortchakova<br>
      <strong>Finnland:</strong> KatriIkavalko<br>
      <strong>Griechenland:</strong> Xenophon Sachinis<br>
      <strong>Griechenland:</strong> Vicky Tsalamata<br>
      <strong>Italien:</strong> Andrea Serafini<br>
      <strong>Japan:</strong> Miyuki Kondo<br>
      <strong>Japan:</strong> Atsuo Sakazume<br>
      <strong>Japan:</strong> Yuka Iyama<br>
      <strong>Japan:</strong> Haruko Cho<br>
      <strong>Japan:</strong> Ikuhiro Kugo<br>
      <strong>Japan:</strong> Aya Imamura<br>
      <strong>Kroatien:</strong> Igor Cabraja<br>
      <strong>Litauen:</strong> Vilija Kneyzite<br>
      <strong>Neuseeland:</strong> Stephen Lovett<br>
      <strong>Niederlande:</strong> Bert Brouwer<br>
      <strong>Polen:</strong> Pluta Wladyslaw<br>
      <strong>Polen:</strong> Agnieszka Ziemiszewska<br>
      <strong>Polen:</strong> Izabella Gustowska<br>
      <strong>Polen:</strong> Rena Wota<br>
      <strong>Polen:</strong> Tomasz Winiarski<br>
      <strong>Polen:</strong> Jonasz Gajewski<br>
      <strong>Polen:</strong> Grzegorz Banaskiewicz<br>
      <strong>Polen:</strong> Alicja Snoch-Pawlowska<br>
      <strong>Polen:</strong> Grzegorz Mycka<br>
      <strong>Polen:</strong> Joanna Janowska-Augustyn<br>
      <strong>Polen:</strong> Stefan Kaczmarek<br>
      <strong>Polen:</strong> PUL<br>
      <strong>Polen:</strong> Magdalena Duda-Patraszewska<br>
      <strong>Polen:</strong> Beata Dlugosz<br>
      <strong>Polen:</strong> Ilona Proczek-Kranc<br>
      <strong>Polen:</strong> Karol Pomykala<br>
      <strong>Polen:</strong> Antoni Kowalski<br>
      <strong>Polen:</strong> Krystina Piotrowksa<br>
      <strong>Polen:</strong> Slawomir Cwiek<br>
      <strong>Polen:</strong> Jan Pamula<br>
      <strong>Polen:</strong> Tomasz Kukawski<br>
      <strong>Polen:</strong> Mariusz Palka<br>
      <strong>Polen:</strong> Janusz Marciniak<br>
      <strong>Polen:</strong> Katarzyna Marzec<br>
      <strong>Polen:</strong> Brygida Masternak<br>
      <strong>Polen:</strong> Malgorzata Mazur<br>
      <strong>Polen:</strong> Andrzej Bednarzyk<br>
      <strong>Portugal:</strong> Regina Costa<br>
      <strong>Serbien:</strong> Milan Blanusa<br>
      <strong>Slowenien:</strong> Eva Petrič<br>
      <strong>Spanien:</strong> Javier Gil Perez<br>
      <strong>Spanien:</strong> Francisco Velasco<br>
      <strong>Spanien:</strong> Anne Heyvaert<br>
      <strong>Spanien:</strong> Javier Aranguren<br>
      <strong>Tschech Rep.:</strong> Simon Brejcha<br>
      <strong>Tschech.Rep.:</strong> Ondrej Michalek<br>
      <strong>Tschech.Rep.:</strong> Pavel Noga<br>
      <strong>UK:</strong> Fay Nicolson<br>
      <strong>UK:</strong> Lidija Antanasijevic<br>
      <strong>UK:</strong> Paul Coldwell<br>
      <strong>UK:</strong> ChrisMercier<br>
      <strong>UK:</strong> Paul Ferragut<br>
      <strong>UK:</strong> Peter Ford<br>
      <strong>UK:</strong> Josephine Ganter<br>
      <strong>USA:</strong> Eunice Kim<br>
      <strong>Ukraine:</strong> Olena Golub<br>
      <strong>Ungarn:</strong> Tibor Pataki<br>
      <strong>Ungarn:</strong> Daradics Arpad<br>
      <strong>Österreich:</strong> Ingeborg und Peter Braunsteiner<br>
      <strong>Österreich:</strong> Margret Kohler-Heilingsetzer<br>
      <strong>Österreich:</strong> Zekerya Saribatur<br>
      <strong>Österreich:</strong> Schnitzer / Krätschmer<br>
      <strong>Österreich:</strong> Reinhold Egerth<br>
      <strong>Österreich:</strong> Juun<br>
      <strong>Österreich:</strong> Babsi Daum<br>
      <strong>Österreich:</strong> Martina Stock<br>
      <strong>Österreich:</strong> Robert Svoboda<br>
      <strong>Österreich:</strong> Christine Pirker<br>
      <strong>Österreich:</strong> Josef Danner<br>
      <strong>Österreich:</strong> Ilse Chlan<br>
      <strong>Österreich:</strong> Linde Waber<br>
      <strong>Österreich:</strong> Bettina Patermo<br>
      <strong>Österreich:</strong> Michael Wegerer<br>
      <strong>Österreich:</strong> Natalia Weiss<br>
      <strong>Österreich:</strong> Elisabeth Weissensteiner<br>
      <strong>Österreich:</strong> Brigitte Pamperl<br>
      <strong>Österreich:</strong> Jana Wisniewski<br>
      <strong>Österreich:</strong> Andreas Ortag<br>
      <strong>Österreich:</strong> Helga Cmelka<br>
      <strong>Österreich:</strong> Markus Gottfried<br><strong>
      
