= provide(:title, 'Austellung')
.container
  #exhibition-page
  %h1.context-title.image-box IDEA PROCESS LIBERTY IMPRINT

  %h1.big-title in.print.out - Grafik in/auswendig
  %h3.date 19.04. - 09.06. 2013
  %h3.location Künstlerhaus Wien
 
  %p.main-intro-text At the heart of the title as well as the project is the word “print,” hence printed material – in practical terms, the artistic concept conceived and realized in and through printed graphic means, with two directions in mind: graphics turned in-side-out. This way of writing it, in/side out, is justified in regard to the content, because the exhibition is dedicated to two areas of contemporary graphics, which partially overlap as well as permeate each other, but also pursue different creative interests and goals. One the one hand, in.print.out features current graphic art by 102 artists, that normally – but not exclusively – is displayed on the walls of exhibitions or in exhibit halls. On the other, it shows graphics conceived to work and function on billboards hung in public spaces. The first area can be classified as traditional artistic graphic reproduction, the second falls into the category of applied graphics, formerly known as “advertising art” or simply, “advertising.” 

  %p.main-intro-text This exhibition attempts to bridge these two usual classifications. It presents current graphic art as a multidisciplinary and process-oriented language, with an ongoing dialogue between traditional disciplines and innovative technologies, between analogue and digital media, between artistic strategies and communication design. Because ultimately it is about printed ideas, messages, information. 
   

  <br>
  
  .exhibition-pic
    = image_tag("pic01.jpg", :alt => "Picture of a caktus hear from Yossi Lernel called In Mexico City from 2008")
    %p.credits © Moravian Gallery in Brno

  %p.artist Yossi Lernel - In Mexico City - 2008
  
  %p.text-01 <strong>outside in</strong> <br><br>The exhibits include historic and contemporary poster art, shown in cooperation with the Muzeum Plakatu w Wilanowie (Poster Museum Wilanów, part of the National Museum in Warsaw), the Zurich University of the Arts / Print Studio Rote Fabrik (Red Factory), Moravská galerie v Brně, Bienále Brno (Moravian National Gallery, Graphic Biennale Brno), Wienbibliothek (Vienna Library) and the Höheren Graphischen Lehranstalt Wien (Vienna Federal Training and Research Institute for Graphic Arts). The presentation in no way claims to provide a conclusive overview of the history of posters, or delve into a section of this complex field. Each of the collections on loan displays some of its “highlights”, that is, posters which in their own way create innovative impulses, or are exemplary documentations of cultural history. Due to the abundance of the collections, the curators emphasized certain individual aspects. You will find posters from a cultural sphere, that is, posters having to do with theater, film, or exhibitions, alongside political posters, advertising, and some bizarre items that are hard to categorize. Also on display on the upper floor are the works from the poster project GELD MACHT SICHTBAR (MONEY MAKES VISIBLE) which is taking place at the same time as the exhibition, in public spaces on poster walls of the epamedia (an outdoor advertising agency). These forge quasi a “link” between inside and outside. 

  %p.text-02.padding-big <strong>inside out</strong> <br><br>On the main floor of the Künstlerhaus, the exhibits, for the most part, cover a selection (chosen from over 1,500 artworks) submitted to the International Graphic Trienniale in Krakow competition (Stowarzyszenie Międzynarodowe Triennale Grafiki w Krakowie, SMTG). The Künstlerhaus has been cooperating with SMTG Kraków and the Horst-Janssen-Museum in Oldenburg since 2006. As of 2010, it has also teamed up with the “International Print Network”, a project sponsored by the EU. To complement the selections from the competition, we have also invited several artists to participate with special contributions, such as the Australian artist Brook Andrew, whose work not only goes beyond the dimensions of the competition, but also breaks with the traditional borders of graphic art. His Jumping Castle War Memorial, developed for the 17th Biennale of Sydney 2010, is mystifying, working exemplarily with inside and outside, with the difference between outer form and the message it contains. The form of the blown up Jumping Castle represents fun and children’s games; the title War Memorial, on the other hand, suggests solemnity and reflection. Graphic art – as perfectly exemplified by this work – has, especially in the last two decades, become a point where diverse streams of contemporary art and everyday culture merge: a meeting place for mediums such as print graphics, drawings, photography, graphic design, space-related works, film and digital media. 
  <br>
  %p.text-02.padding-big <strong>in between</strong> <br><br>  In several rooms of the exhibition we specifically try to make the laboratory character of graphic processes apparent, and make it accessible to the exhibition visitors. One room has been designated the “Project Room Octagon”, dedicated to temporary works, installations and space-related graphic design experiments.  For a period of 10 days at a time, Michael Wegerer /Juun, Natalia Weiss, Beate Dlugosz, Paul Ferragut and Chris Mercier will utilize the Octagon and combine graphic concepts with sound, sculpture, time and light. Making use of linoleum floors, drafting machines, light-sensitive coatings, rotating printing plates and a cut up concert piano, they will initiate diverse experimental arrangements. Another room will temporarily serve as a production, presentation and sales room in one. “make.aZINE” is a project by the young group of artists “Graphikkinder” (Graphics Kids), concerned with making the genre “zine” familiar and accessible to a wide audience apart from the political, pop and art subculture. “zine” stands for a non-commercial, often self-made or online publication by independent producers. The origins of zines lie in the science fiction scene, but they also enjoyed popularity in the British and US punk scene, as well as with the feminist movement in the 1970s. Beyond standardized mass media communication, they served and serve minorities, fringe groups and subcultures as a mouthpiece. 

  %p.main-intro-text Furthermore, there are workshops for school classes and students in the Künstlerhaus passagegalerie, and more exhibitions in the lobby of the Künstlerhaus  cinema, and in the framework of the “Graphic Art Month” in galleries, universities and other cultural institutions in Austria.
  %br
  %br
  %p.main-intro-text Through the diverse array of presentations and potential for exploration that surrounds the exhibition in.print.out – Grafik in/auswendig, this project aims to provide a joint forum in Vienna for artists and an interested audience, and to serve as a source of information and a podium for discussion on the current state of graphic art. <br><br><strong> Georg Lebzelter </strong><br><br> (translation: Ida Cerne & Renée Gadsden)
   
  %h2.artists-headline Artists
  <br>
  .list
    %p.art 
      <strong>Australien:</strong> Brook Andrew<br>
      <strong>Bangladesh:</strong> Nazir Ahmed<br>
      <strong>Brasilien:</strong> Augusto Sampaio<br>
      <strong>Bulgarien:</strong> Darina Peeva<br>
      <strong>Bulgarien:</strong> Vania Valkova<br>
      <strong>Bulgarien:</strong> Lubomir Krastev<br>
      <strong>Kanada:</strong> Edith Krause<br>
      <strong>Kanada:</strong> Derek Besant<br>
      <strong>Kanada:</strong> Ericka Walker<br>
      <strong>Kanada:</strong> Jill Ho-Jou<br>
      <strong>Kanada:</strong> Cecile Boucher<br>
      <strong>Kanada:</strong> Barbara Zeigler<br>
      <strong>China:</strong> Zhang HuiJing<br>
      <strong>Deutschland:</strong> Kirsten Borchert<br>
      <strong>Deutschland:</strong> Birgit Fiedler<br>
      <strong>Deutschland:</strong> Jochen Koehn<br>
      <strong>Deutschland:</strong> Hansjürgen Gartner<br>
      <strong>Deutschland:</strong> Richard Paul Meszaros<br>
      <strong>Deutschland:</strong> Eugenia Gortchakova<br>
      <strong>Finnland:</strong> KatriIkavalko<br>
      <strong>Griechenland:</strong> Xenophon Sachinis<br>
      <strong>Griechenland:</strong> Vicky Tsalamata<br>
      <strong>Italien:</strong> Andrea Serafini<br>
      <strong>Japan:</strong> Miyuki Kondo<br>
      <strong>Japan:</strong> Atsuo Sakazume<br>
      <strong>Japan:</strong> Yuka Iyama<br>
      <strong>Japan:</strong> Haruko Cho<br>
      <strong>Japan:</strong> Ikuhiro Kugo<br>
      <strong>Japan:</strong> Aya Imamura<br>
      <strong>Kroatien:</strong> Igor Cabraja<br>
      <strong>Litauen:</strong> Vilija Kneyzite<br>
      <strong>Neuseeland:</strong> Stephen Lovett<br>
      <strong>Niederlande:</strong> Bert Brouwer<br>
      <strong>Polen:</strong> Pluta Wladyslaw<br>
      <strong>Polen:</strong> Agnieszka Ziemiszewska<br>
      <strong>Polen:</strong> Izabella Gustowska<br>
      <strong>Polen:</strong> Rena Wota<br>
      <strong>Polen:</strong> Tomasz Winiarski<br>
      <strong>Polen:</strong> Jonasz Gajewski<br>
      <strong>Polen:</strong> Grzegorz Banaskiewicz<br>
      <strong>Polen:</strong> Alicja Snoch-Pawlowska<br>
      <strong>Polen:</strong> Grzegorz Mycka<br>
      <strong>Polen:</strong> Joanna Janowska-Augustyn<br>
      <strong>Polen:</strong> Stefan Kaczmarek<br>
      <strong>Polen:</strong> PUL<br>
      <strong>Polen:</strong> Magdalena Duda-Patraszewska<br>
      <strong>Polen:</strong> Beata Dlugosz<br>
      <strong>Polen:</strong> Ilona Proczek-Kranc<br>
      <strong>Polen:</strong> Karol Pomykala<br>
      <strong>Polen:</strong> Antoni Kowalski<br>
      <strong>Polen:</strong> Krystina Piotrowksa<br>
      <strong>Polen:</strong> Slawomir Cwiek<br>
      <strong>Polen:</strong> Jan Pamula<br>
      <strong>Polen:</strong> Tomasz Kukawski<br>
      <strong>Polen:</strong> Mariusz Palka<br>
      <strong>Polen:</strong> Janusz Marciniak<br>
      <strong>Polen:</strong> Katarzyna Marzec<br>
      <strong>Polen:</strong> Brygida Masternak<br>
      <strong>Polen:</strong> Malgorzata Mazur<br>
      <strong>Polen:</strong> Andrzej Bednarzyk<br>
      <strong>Portugal:</strong> Regina Costa<br>
      <strong>Serbien:</strong> Milan Blanusa<br>
      <strong>Slowenien:</strong> Eva Petrič<br>
      <strong>Spanien:</strong> Javier Gil Perez<br>
      <strong>Spanien:</strong> Francisco Velasco<br>
      <strong>Spanien:</strong> Anne Heyvaert<br>
      <strong>Spanien:</strong> Javier Aranguren<br>
      <strong>Tschech Rep.:</strong> Simon Brejcha<br>
      <strong>Tschech.Rep.:</strong> Ondrej Michalek<br>
      <strong>Tschech.Rep.:</strong> Pavel Noga<br>
      <strong>UK:</strong> Fay Nicolson<br>
      <strong>UK:</strong> Lidija Antanasijevic<br>
      <strong>UK:</strong> Paul Coldwell<br>
      <strong>UK:</strong> ChrisMercier<br>
      <strong>UK:</strong> Paul Ferragut<br>
      <strong>UK:</strong> Peter Ford<br>
      <strong>UK:</strong> Josephine Ganter<br>
      <strong>USA:</strong> Eunice Kim<br>
      <strong>Ukraine:</strong> Olena Golub<br>
      <strong>Ungarn:</strong> Tibor Pataki<br>
      <strong>Ungarn:</strong> Daradics Arpad<br>
      <strong>Österreich:</strong> Ingeborg und Peter Braunsteiner<br>
      <strong>Österreich:</strong> Margret Kohler-Heilingsetzer<br>
      <strong>Österreich:</strong> Zekerya Saribatur<br>
      <strong>Österreich:</strong> Schnitzer / Krätschmer<br>
      <strong>Österreich:</strong> Reinhold Egerth<br>
      <strong>Österreich:</strong> Babsi Daum<br>
      <strong>Österreich:</strong> Martina Stock<br>
      <strong>Österreich:</strong> Robert Svoboda<br>
      <strong>Österreich:</strong> Christine Pirker<br>
      <strong>Österreich:</strong> Josef Danner<br>
      <strong>Österreich:</strong> Ilse Chlan<br>
      <strong>Österreich:</strong> Linde Waber<br>
      <strong>Österreich:</strong> Bettina Patermo<br>
      <strong>Österreich:</strong> Michael Wegerer<br>
      <strong>Österreich:</strong> Natalia Weiss<br>
      <strong>Österreich:</strong> Elisabeth Weissensteiner<br>
      <strong>Österreich:</strong> Brigitte Pamperl<br>
      <strong>Österreich:</strong> Jana Wisniewski<br>
      <strong>Österreich:</strong> Andreas Ortag<br>
      <strong>Österreich:</strong> Helga Cmelka<br>
      <strong>Österreich:</strong> Markus Gottfried<br><strong>
      
