= provide(:title, 'Map')
%p.date Künstlerhaus
%p.date Karlsplatz 5 -- 1010 Wien
%p.date #{ link_to "Google Maps", "http://bit.ly/15v0DS3", :target => "_blank" }
= image_tag("Map-small.jpg",:class => "map", :alt => "google map for the museum")

