= provide(:title, 'Plakatkunstprojekt')
.container
  #project-page 
    %h1.context-title.image-box GELD MACHT SICHT BAR

    %h1.big-title Plakatkunstprojekt 
    %h1.sub-sub-title GELD MACHT SICHT BAR
    
    %p.main-intro-text <strong>Plakatwand als Demonstrationswand</strong> ist ein europäisches Kunstprojekt von Josef Danner/Georg Lebzelter in Kooperation mit <strong>International Print Network und EPAMEDIA</strong>. Internationale KünstlerInnen setzen grafische Zeichen auf Plakatwänden. Das Hauptanliegen: Eine künstlerische <strong>Neucodierung</strong> der Zeichensprache des öffentlichen Raums anhand des Mediums Plakat. Das Plakat, das seit dem 19. Jh. immer wieder grafisch innovative Impulse setzte, soll mit den Ideen heutiger internationaler KünstlerInnen mit hoher Qualität neu thematisiert und belebt werden.
    
    .exhibition-pic
      =image_tag("Ingeborg_Strobl_Geld-macht-sichtbar_Plakat.jpg", :alt => "Plakat zum Plakatkunstprojekt Geld Macht Sicht Bar")
    %p.artist Ingeborg Strobl - Geld macht sichtbar
    <br>
    %p.main-intro-text GELD MACHT SICHT BAR platziert künstlerische Botschaften in jenem Raum, der üblicherweise von <strong>Werbebotschaften und Kaufparolen</strong> okkupiert wird und sorgt mit künstlerischen Mitteln für entgegenwirkende Irritation. <strong>18 nationale und internationale KünstlerInnen</strong> bzw. KünstlerInnenteams entwickeln 8 - Bogen Plakate. Ein gemeinsames, auf allen Plakaten wiederkehrendes Logo verbindet die Plakatserie. Die Auswahl der KünstlerInnen erfolgte durch den internationalen Wettbewerb der Triennale in Krakau und durch Nominierungen der beiden Kuratoren.
    <br>
    %p.main-intro-text Die Plakate sind auf ca. 1.800 Flächen in Ostösterreich im Mai 2013 zu sehen. Begleitend werden alle Plakate des Projekts GELD MACHT SICHT BAR in der Ausstellung in.print.out - Grafik in/auswendig (19.04. - 09.06.2013) präsentiert.
    <br>
    %h2.artists-headline Teilnehmende KünstlerInnen
    %p.art.one-column 
      Team Stepan červenka / Georg Lebzelter / Nikolaus Link --<strong> AT / CZ</strong><br>
      Team Josef Danner / Hüseyin Isik, Österreich -- <strong> AT / TR</strong><br>
      Team Lucia Dellefant / Anton Petz --<strong> AT / DE</strong><br>
      Team Ammar Abo Bakr / Aya Tarek -- <strong> EG</strong><br>
      Team Andraschek / Lobnig -- <strong> AT</strong><br>
      Julius Deutschbauer -- <strong> AT</strong><br>
      Ingeborg Strobl -- <strong> AT</strong><br>
      Werner Reiterer -- <strong> AT</strong><br>
      Dan Perjovschi --<strong> RO</strong><br>
      Endi Poskovic --<strong> US</strong><br>
      Klaus Staeck -- <strong> DE</strong><br>
      Erwin Wurm -- <strong> AT</strong><br>
