= provide(:title, 'Plakatkunstprojekt')
.container
  #project-page 
    %h1.context-title.image-box MONEY MAKES VISIBLE 

    %h1.big-title Plakatkunstprojekt 
    %h1.sub-sub-title MONEY MAKES VISIBLE 
    
    %p.main-intro-text The poster wall as demonstration wall:<br>European art project by Josef Danner/Georg Lebzelter in cooperation with International Print Network and EPAMEDIA International artists place graphic signs on poster walls. The main purpose: an artistic recoding of sign language in the public space using the poster as medium. Having given innovative graphic impulses in the 19th century and, in some areas, also in the 70s/80s of the 20th century, the ideas of contemporary international artists will revisit and bring back to life the poster as medium in a new quality.
    .exhibition-pic
      =image_tag("Ingeborg_Strobl_Geld-macht-sichtbar_Plakat.jpg", :alt => "Plakat zum Plakatkunstprojekt Geld Macht Sicht Bar")
    %p.artist Ingeborg Strobl - Geld macht sichtbar
    <br>
    %p.main-intro-text The project MONEY MAKES VISIBLE aspires to place artistic messages in this purlieu to cause irritation in the "space of solicitation" usually occupied by financially strong businesses and to put up some resistance to the sales slogans through artistic means. Amidst the surfaces that are put to commercial use, philosophical and poetical signs will be placed into the public space. Philosophical riddles that cannot be resolved by means of conventional (advertising) logic will take the place of evocative solicitations to shop. 
    <br>
    %p.main-intro-text The posters are presented on 1,800 billboards in eastern Austria in May 2013.
    <br>
    %h2.artists-headline Artists
    %p.art.one-column 
      Team Stepan červenka / Georg Lebzelter / Nikolaus Link --<strong> AT / CZ</strong><br>
      Team Josef Danner / Hüseyin Isik -- <strong> AT / TR</strong><br>
      Team Lucia Dellefant / Anton Petz --<strong> AT / DE</strong><br>
      Team Ammar Abo Bakr / Aya Tarek -- <strong> EG</strong><br>
      Team Andraschek / Lobnig -- <strong> AT</strong><br>
      Julius Deutschbauer -- <strong> AT</strong><br>
      Ingeborg Strobl -- <strong> AT</strong><br>
      Werner Reiterer -- <strong> AT</strong><br>
      Dan Perjovschi --<strong> RO</strong><br>
      Endi Poskovic --<strong> US</strong><br>
      Klaus Staeck -- <strong> DE</strong><br>
      Erwin Wurm -- <strong> AT</strong><br>
