= provide(:title, "Symposium")
.container
  #symposium-page
    %h1.context-title.image-box PLAKAT MACHT ZEIT ZEICHEN

    %h1.big-title Symposium
    %h2.sub-title Das Plakat - ein Medium zwischen Kunst und Kommerz
    %h3.date 24 - 25.05.2013
    %h3.location Ort: Künstlerhaus Wien, Karlsplatz 5, 1010 Wien

    %p.main-intro-text Das Symposium behandelt wichtige Aspekte des oft prekären Verhältnisses von Kunst und Kommerz, Unikat und optischer Massenware sowie autonomer und angewandter gestalterischer Tätigkeit.
    
    %p.main-intro-text Die Auseinandersetzungen mit der gegenwärtigen, von vielen Seiten diagnostizierten „Krise des Plakats“ als Medium, die maßgeblich durch die wachsende Dominanz elektronisch vermittelbarer Bild/Textkombinationen verursacht wurde, steht auf der Agenda der TeilnehmerInnen. Anhand von Fallbeispielen werden zentrale Ereignisse der Plakatkunst in den beiden vergangenen Jahrhunderten dargestellt.
    <br>
    %p.main-intro-text <strong>Konzept und Organisation:</strong> Sergius Kodera, Georg Lebzelter
    <br>
    .exhibition-pic
      =image_tag("pic02.jpg", :alt => "pic02")
    %p.artist Shunji Nii Nomi - save me - 2008 
    <br>
    %h2.artists-headline TeilnehmerInnen
    %p.art.one-column 
      Bernhard Denscher -- <strong>AT</strong><br> 
      Christian Maryška -- <strong>AT</strong><br> 
      Sergius Kodera -- <strong>AT</strong><br> 
      Peter Stasny -- <strong>AT</strong><br> 
      Julia König -- <strong>AT</strong><br> 
      Stephan Bundi -- <strong>CH</strong><br> 
      Marta Sylvestrová -- <strong>CZ</strong><br> 
      René Grohnert -- <strong>DE</strong><br> 
      Yossi Lemel -- <strong>IL</strong><br> 
      Marek Freudenreich -- <strong>PL</strong><br> 
      Paul Coldwell -- <strong>UK</strong><br> 
