@import "bourbon";
@import "neat";
@import "static_pages";
@import "reset";

body {
  @include box-sizing(border-box);
  font-size: 100%;
  font-family: $helvetica;
  color: black;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.container {
  @include box-sizing(border-box);
  margin: auto;
  width: 90%;
  background: url(/assets/lightpaperfibers.jpg) repeat;
}
