@import "bourbon";
@import "neat";
@import "static_pages";

body {
  font-family: $helvetica;
  color: black;
  width: 100%;
  margin: auto;
  background: white;;
}

.container {
  margin: auto;
  width: 80%;
}
