h1 {
  text-align: center;
}
.bit-title {
  font-size: 55px;
  width: 100%;
  @include box-sizing(border-box);
}
.text-column{
 @include columns(2); 
  text: black;
  padding-bottom: 30px;
}

.header-wrapper, .footer-wrapper { 
  color: white;
  width: 100%;
  @include box-sizing(border-box);
  height: 50px;
  @include linear-gradient(black, grey);
}

.footer-wrapper {
  @include linear-gradient(grey, black);
}

ul { 
  padding-top: 15px;
  text-align: center;
  li { 
    text-align: center;
    display: inline;
    padding: 10px;
    list-style-type: none;
    a { 
      color: white;
      text-decoration: none;
    }
  }
}





