@import "bourbon";

.header-wrapper, .footer-wrapper { 
  background: black;
  color: white;
  font-size: 0.625em; //10px / 16px
  height: 50px;
  position: relative;
  ul { 
    padding-top: 19px;
    text-align: center;
    li { 
      display: inline;
      padding: 10px;
      list-style-type: none;
      a { 
        color: white;
        text-decoration: none;
      }
    }
  }
}

.footer-wrapper {
  clear: both;
}

.logo {
  @include box-sizing(border-box);
  font-size: 30px;
  color: white;
  text-decoration: none;
  float: left;
  padding-left: 12px;
  padding-top: 8px;
}

.k-h_logo {
  @extend .logo;
  font-size: 20px;
  padding-left: 25px;
  padding-top: 15px;
}

.social-media {
  float: right;
  padding-right: 20px;
}


.nav_tabs { 
  @include box-sizing(border-box);
  .exhibition, .project, .symposium, .program {
    width: 25%;
    border-right: 2px solid white;
    float: left;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 35px;
  }
}

.exhibition {
  background-color: #195935;
}

.project {
  background-color: #588c49;
}

.symposium { 
  background-color: #71a64b;
}

.program {
  background-color: #80bf41;
}

.big-title {
  text-align: center;
  font-size: 2.8125em; 
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-style: italic;
  margin-top: 10px;
}

.small-title {
 @extend .big-title;
 font-size: 2.5em;
 padding-top: 14px;
 padding-bottom: 18px;
}

.text-column{
 @include columns(2); 
  text: black;
  font-size: 1.125em; // 18px / 16px
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.image-boxes {
  background: white;
  width: auto;
  height: 250px;
}
.box01, .box02, .box03, .box04 {
  @include box-sizing(border-box);
  padding-right: 3px;
  border-right: 3px solid white;
  width: 25%;
  height: 200px;;
  background: black;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}




