%footer.footer-wrapper
  %nav
    %ul
      %li
        %a{ :href => '/static_pages/about' } ABOUT
      %li
        %a{ :href => '/static_pages/map' } MAP
      %li
        %a{ :href => 'http://www.facebook.com/pages/inprintout/252270788238577', :target => '_blank' } FB
      %li
        %a{ :href => 'http://triennale.tumblr.com', :target => '_blank' } BLOG
      %li 
        = link_to_unless I18n.locale == :en, "Eng", locale: :en
      %li          
        = link_to_unless I18n.locale == :de, "D", locale: :de 

