%header.header-wrapper
  %nav
    %a.logo{ :href => '#' } in.print.out
    %a.k-h_logo{ :href => '#' } K-H
    %ul
      %li
        %a.social-media{ :href => '#' } FB
      %li
        %a.social-media{ :href => '#' } TUMBLR
