.nav_tabs
  .exhibition.link
    =link_to "Exhibition", static_pages_exhibition_path
  .project
    =link_to "Artprojekt", static_pages_project_path
  .symposium
    =link_to "Symposium", static_pages_symposium_path
  .program
    =link_to "Program", static_pages_program_path

